.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar__items{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navbar-btns{
    display: flex;
    justify-content: space-around;
}