.navbar{
    display: flex;
    justify-content: space-around;
    position: sticky;
    left: 0;
    right: 0;
    z-index: 1;
    height: 50px;
}

.navbar__logo{
    width: auto;
}

.navbar__items{
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.navbar-btns{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar-btns:nth-child(1) button{
    border: none;
}

.subitems{
    display: none;
}

.navbar__item:hover .subitems{
    display: block;
}

.navbar__item{
    width: 100%;
    height: 100%;

    flex-direction: column;
    cursor: pointer;
    justify-content: center;
}


.navbar__item-text{
    width: 100%;
}